@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/type";

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .date-time {
    @include type.type-scale(6);
    display: inline-flex;
    white-space: nowrap;
    padding-right: $spacing-05;
  }
}

.tabs-content {
  height: calc(100vh - $spacing-09);
}

.tab-list {
  display: inline-flex;
  max-width: 50%;
}

.edit-tab-section {
  position: absolute;
  bottom: $spacing-07;
}
